<nav>
  <div class="nav-wrapper blue-grey darken-1">
    <a href="#" class="brand-logo center-align">Pokédex</a>
  </div>
</nav>

<div class="container" *ngIf="pokemon">
  <h2 class="center-align">{{ pokemon.name }}</h2>

  <div class="card horizontal hoverable blue-grey darken-1 white-text">
    <div class="card-image center-align" style="padding: 1rem;">
      <img [src]="pokemon.picture" [alt]="pokemon.name" style="max-height: 140px;" />
    </div>

    <div class="card-stacked">
      <div class="card-content">
        <table class="bordered striped highlight">
          <tbody>
            <tr>
              <td><strong>Nom</strong></td>
              <td>{{ pokemon.name }}</td>
            </tr>
            <tr>
              <td><strong>Points de vie (HP)</strong></td>
              <td>{{ pokemon.hp }}</td>
            </tr>
            <tr>
              <td><strong>Dégâts (CP)</strong></td>
              <td>{{ pokemon.cp }}</td>
            </tr>
            <tr>
              <td><strong>Types</strong></td>
              <td>
                <span
                  *ngFor="let type of pokemon.types"
                  [ngClass]="type | pokemonTypeColor"
                  class="chip"
                >
                  {{ type }}
                </span>
              </td>
            </tr>
            <tr>
              <td><strong>Lieu</strong></td>
              <td>{{ pokemon.location }}</td>
            </tr>
            <tr>
              <td><strong>Apparition</strong></td>
              <td>{{ pokemon.encounterTime }}</td>
            </tr>
            <tr>
              <td><strong>Ajouté le</strong></td>
              <td>{{ pokemon.createdAt | date: 'short' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-action center-align">
        <a (click)="goBack()" class="btn-flat white-text">Retour</a>
      </div>
    </div>
  </div>
</div>

<h4 *ngIf="!pokemon" class="center red-text">Aucun Pokémon à afficher !</h4>
